[submodule "splashmix.ink"]
	path = splashmix.ink
	url = git@github.com:Moibe/heroes-front.git
[submodule "splashmix-login"]
	path = splashmix-login
	url = git@github.com:Moibe/splashmix-login.git
[submodule "splashmix-buy"]
	path = splashmix-buy
	url = git@github.com:Moibe/splashmix-buy.git
[submodule "splashmix-buy-dev"]
	path = splashmix-buy-dev
	url = git@github.com:Moibe/splashmix-buy.git
[submodule "splashmix-login-dev"]
	path = splashmix-login-dev
	url = git@github.com:Moibe/splashmix-login.git
[submodule "targetvox.com"]
	path = targetvox.com
	url = git@github.com:Moibe/heroes-front.git
	branch = dev
